<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<style>
		body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 14px;}
	</style>
</head>
<body>
	<header><h2>Temp 1</h2></header>
	@include('./view.html')
	@include('./var.html', {
		"name": "haoxin",
		"age": 12345,
		"socials": {
			"fb": "facebook.com/include",
			"tw": "twitter.com/include"
		}
	})

	{{#ifCond <##OFFERCOUNT##> '==' 1 }}
		@include('./content-1.html')
	{{else}} 
		{{#ifCond <##OFFERCOUNT##> '==' 2 }}
		@include('./content-2.html')
		{{/ifCond}} 
	{{/ifCond}}
</body>
</html>