<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document - {{fullName}}</title>
	<style>
		* {margin: 0; padding: 0;}
		body { font-family: Arial, Helvetica, sans-serif; line-height: 1.5; margin: 15px;}
		figure { margin: 20px 0;}
		p { margin-bottom: 20px;}
	</style>
</head>

<body>
	<h1>{{fullName}}</h1>
	<figure>
		<img src="{{image}}" alt="{{fullName}}">
	</figure>
	<p>{{{bio}}}</p>
	<p>
		You can find me on <a href="http://www.twitter.com/{{twitterUsername}}" target="_blank">Twitter</a>,
		{{#if githubUsername}}<a href="http://www.github.com/{{githubUsername}}" target="_blank">GitHub</a> or{{/if}} my <a href="http://{{website}}" target="_blank">Website</a>.
	</p>
</body>

</html>