<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<div align="center" class="euromsgdyna" duplicate="" filter="" filter_type="" fl_table="user_to_product%" order="" personalbox="true" random="" slot="435" slotcount="1" slotname="single_pro" style="line-height: 200px; text-align: center; width: 650px;" top="" width="650">Dynamic Content []</div>
		</td>
	</tr>
</table>