<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<header><h1>Hello World</h1></header>
	{{#ifCond <##OFFERCOUNT##> '==' 1 }}
		@include('./content-1.html')
	{{else}} 
		{{#ifCond <##OFFERCOUNT##> '==' 2 }}
			@include('./content-2.html')
		{{/ifCond}} 
	{{/ifCond}}
</body>
</html>